body{
    font-family: 'Poppins';
}
.nav-a{
    text-decoration:none;
    color:black;
    margin: auto;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}
.navbar{
    display: inline-block; 
}


.nav-right-items img{
    height: 4rem;
}

.nav-left-items {
    margin-top: 1.5rem;
}

.nav-left-items a{
    margin:1rem;
}

.signup{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.4rem;
}

#page-lang{
    border:none;
}

.banner-container{
    display: inline-flex;
    margin: 0 5rem;
}

.banner-text{
    justify-content: flex-start;
    margin: auto;
}

.banner-image img{
    justify-content: flex-end;
    max-width: 50vw;
}

.banner-text-caption{
    color: #DE634A;
    margin: 1rem;
}

.banner-text-title{
    font-size: 3.5rem;
    font-weight: bolder;
    color: #181E4B;
    margin: 1rem;
}

.banner-text-description{
    color: #616584;
    font-weight: 500;
    text-align: justify;
    margin: 1rem;
}

.banner-text-button{
    background-color: #F1A501;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border-color: rgba(255, 189, 7, 0);
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 38px 93px 16px rgba(254,244,225,1);
}

.category-container{
    margin-bottom: 5rem;
    position: relative;
    display: inline-grid;
}


.category-container-bg{
    position: absolute;
    top: 0;
    left: 86vw;
}
.category-container-title{
    padding-bottom: 5rem;
    text-align: center;
}

.category-container-title h4{
    color:#5B5F80;
}

.category-container-title h1{
    font-size: 3rem;
    margin: 0;
    color: #14183E;
}
.category-container-cards{
    display: flex;
    margin: 0 5rem;
    justify-content: space-around;
}



.category-container-card{
    margin: 0 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


.category-container-card:hover{
    box-shadow: 0px 20px 10px 0px rgba(0,0,0,0.05);
    border-radius: 10%;
}


.category-container-cards-img img{
    max-height: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.category-container-cards-text{
    max-width: 25vw;
    text-align: center;
}

.category-container-cards-text h3{
    color: #08073A;
}

.category-container-cards-text h6{
    margin: 0 3rem;
    line-height: 1rem;
    color:#575C7D;
    text-align: center justify;
    font-weight: 500;
}


.topselling-container{
    margin-bottom: 7rem;
    display: inline-grid;
}

.topselling-container-titles{
    text-align: center;
}

.topselling-container-titles h4{
    color: gray;
}

.topselling-container-titles h1{
    font-size: 3rem;
    margin: 1rem;
}

.topselling-container-cards{
    display: inline-flex;
    margin: 0 5rem;
    justify-content: space-around;
}


.topselling-container-card{
    box-shadow: 0px 20px 10px 0px rgba(0,0,0,0.05);
    border-radius: 10%;
    margin-left: 1rem;
    margin-right: 1rem;

}

.topselling-container-card img{
    max-width:100%;
}

.topselling-container-card-content{
    margin: 1rem;
}

.topselling-container-card-subcontent{
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    font-weight: bold;
    color: gray;
}
.navigation-icon{
    height: 1rem;
}
.topselling-container-card-subcontent-time{
    color: gray;
}

.easyandfast-container{
    display: inline-flex;
    margin: 0 5rem;
    justify-content: space-around;
}

.easyandfast-title{
    font-size: xx-large;
}

.easyandfast-content-subcard{
    display: flex;
    margin-bottom: 1rem;
}

.easyandfast-content-subcard img{
    height: 47px;
    border-radius: 20%;
    margin-right: 1rem;
}

.easyandfast-content-subcard-title{
    color: rgb(6, 1, 77);
    font-weight: bolder;
    font-size: small;
    margin: 0;
}

.easyandfast-content-subcard-text{
    margin: 1px;
    padding: 0.5rem 0;
    color: gray;
}

.easyandfast-bottomcard{
    box-shadow: 28px -22px 58px 7px rgba(126, 176, 245, 0.55);
    border-radius: 10%;
    margin: 5rem 12rem 5rem 8rem;
    position: relative;
}

.easyandfast-bottomcard-img img{
    border-radius: 10%;
    margin: 1rem;
}

.easyandfast-bottomcard-content{
    margin: 1rem;
}


.easyandfast-bottomcard-content-images img{
    padding-right: 0.7rem;
}


.easyandfast-bottomcard-content-likes{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    color:gray;
    margin-top: 1rem;
}

.easyandfast-bottomcard-content-hotelicon{
    height: 1rem;
    margin: 0 0.2rem;
}

.easyandfast-topcard{
    position: absolute;
    display: flex;
    padding: 1rem;
    background-color: white;
    box-shadow: 8px 22px 63px -47px rgba(0,0,0,0.75);
    left: 13rem;
    top: 13rem;
    width: 15rem;
    border-radius: 1rem;
}


.easyandfast-topcard-img img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0 0.7rem 0 0.5rem;
}

.easyandfast-topcard-content h4{
    margin: 0;
    padding: 0;
    width: 100%;
    color: gray;
}

.easyandfast-topcard-content h5{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.easyandfast-topcard-content h6{
    margin: 0;
    padding: 0.9rem 0 0.4rem 0;
}

.easyandfast-topcard-content-percentage{
    color:blueviolet
}

.easyandfast-topcard-content-progressbar progress{
    color: blueviolet;
}


.subscribe-container{
    position: relative;
    display: inline-flex;
}

.subscribe-container-bg{
    position: absolute;
    top: 24rem;
    left: 71rem;
}

.subscribe-container-bg img{
    transform: rotate(90deg);
    height: 7rem;
}

.subscribe-box{
    margin: 5rem;
    background-color: rgba(244, 237, 250, 0.669);
    padding: 5rem;
    border-radius: 10rem 2rem 2rem 1rem;
    position: relative;
    z-index: 0;
}

.subscribe-box-sendicon img{
    z-index: 1;
    position: absolute;
    top: -1rem;
    left: 66rem;
    height: 3.5rem;
}

.subscribe-box-content{
    z-index: 1;
}

.subscribe-box-bgspiral-1 img{
    z-index: -1;
    position: absolute;
    top: 7rem;
    left: 0.4rem;
    height: 68%;
    opacity: 0.1;
}

.subscribe-box-bgspiral-2 img{
    z-index: 0;
    position: absolute;
    top: 2rem;
    left: 54.8rem;
    height: 50%;
    transform: rotate(270deg);
    opacity: 0.1;
}


.subscribe-box-title{
    font-size: xx-large;
    text-align: center;
    color: rgb(96, 96, 96);
}

.subscribe-box-form{
    display: flex;
    justify-content: center;
}


.subscribe-box-form-input{
    width: 45%;
    height: 2.5rem;
    padding-left: 3.5rem;
    background: url("assets/mail.png") no-repeat left;
    background-size: 20px;
    background-position-x: 1rem;
    background-color: white;
    border:none;
    border-radius: 10px;
}


.subscribe-box-form-submit{
    margin-left: 1rem;
    background-color: rgb(255, 119, 0);
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border-color:  rgba(255, 119, 0, 0);
    color:white;
}


.footer-columns{
    display: flex;
    margin: 0 5rem;
    justify-content: space-between;
}

.footer-title{
    width: 20%;
    padding: 0 5rem 0 0;
}

.footer-company{
    width: 10%;
}

.footer-contact{
    width:10%;
}
.footer-more{
    width: 10%;
}
.footer-social{
    width: 18%;
    display: block;
    align-items: center;
}


.footer-social-icons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


.footer-social-icons a{
    text-decoration: none;
}

.fa {
    font-size: x-large !important;
    box-shadow: 1px 1px 1px 1px rgba(74, 75, 77, 0.231);
}

.fa-instagram {
    background: white;
    color: black;
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
    
}

.fa-facebook {
    background: white;
    color: black;
    padding: 0.5rem 0.8rem;
    border-radius: 50%;
}

.fa-twitter {
    background: white;
    color: black;
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
}

.footer-social-mobile{
    display: flex;
    justify-content: space-around;
}

.footer-social-mobile img{
    height: 1.5rem;
    border-radius: 10%;
}

.footer-title p{
    color: gray;
    font-weight: 500;
}

.footer-columns h6{
    color: gray;
}
.footer-copyright{
    text-align: center;
    color:gray;
}

.footer-title h1{
    color: rgb(2, 2, 81);
}

.footer-social h3{
    color: gray;
    text-align: center;
}
